<!--<div class="highlightSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Objectives</h2>
        <p><em> Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. 
          Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. 
          Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. 
          Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </em> 
        </p>
      </div>
    </div>
  </div>
</div>-->

<div class="serviceBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="clearfix">
          <i class="fa fa-compress"></i>
          <div class="desc">
            <br/>
            <h4>VISA TYPES</h4>
            <a href="/tourist-visa" style="text-decoration:none;color:#858585;">Tourist Visa</a><br/>
            <a href="/transit-visa" style="text-decoration:none;color:#858585;">Transit Visa</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="clearfix">
          <i class="fa fa-code"></i>
          <div class="desc">
            <br/>
            <a href="/track-visa" style="text-decoration:none;color:#858585;font-size:18px;">TRACK YOUR APPLICATION</a>
            <!-- <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </p>-->
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="clearfix">
          <i class="fa fa-thumbs-up"></i>
          <div class="desc">
<br/>
            <h4>GENERAL INFORMATION</h4>
            <!-- <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </p>-->
          </div>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">
      <div class="col-md-4">
        <div class="clearfix">
          <i class="fa fa-desktop"></i>
          <div class="desc">
<br/>
            <h4>THAILAND VISA APPLICATION CENTRES</h4>
            <!-- <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </p>-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="clearfix">
          <i class="fa fa-newspaper-o"></i>
          <div class="desc">
<br/>
            <h4>NEWS AND UPDATES</h4>
            <!-- <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </p>-->
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
         <div class="clearfix">
           <i class="fa fa-css3"></i>
           <div class="desc">
 
             <h4>Launch Ready</h4>
             <p>Lorem ipsum dolor sit amet, Morem ipsum dolor sit amet consectetur adipisicing elit. </p>
           </div>
         </div>
       </div> -->
    </div>


  </div>
</div>
<hr/>

<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/bootstrap-templates-office3.png" class="" title="project one" height="350">				
        <!-- <h3><a class="hover-effect" href="#">Huge Work</a></h3>
         <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>-->
      </div>
      <div class="col-md-3">
        <img src="/assets/bootstrap-templates-office2.png" class="" title="project one" height="350">

        <!--  <h3><a class="hover-effect" href="#">Huge Work</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>-->
      </div>
      <div class="col-md-3">
        <img src="/assets/bootstrap-templates-office1.png" class="" title="project one" height="350">

        <!--  <h3><a class="hover-effect" href="#">Huge Work</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>-->
      </div>
      <div class="col-md-3">
        <img src="/assets/bootstrap-templates-office4.png" class="" title="project one" height="350">

        <!--  <h3><a class="hover-effect" href="#">Huge Work</a></h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>-->
      </div>
    </div>
  </div>
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-md-4"> 
      <h3 class="title">Reason to choose us</h3>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
      </p>
      <ul>
        <li>Tick mark here Reason one</li>
        <li>Tick mark here  Reason one</li>
        <li>Tick mark here  Reason one</li>
        <li>Reason one</li>
        <li>Reason one</li>
        <li>Reason one</li>
      </ul>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
      </p>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
      </p>
    </div>
    <div class="col-md-8">
      <div class="projectList">
        <h3 class="title">Latest Projects</h3>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="/assets/project1.jpg" class="projectImg" title="project one">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Projects One</a></h4>
            <p>
              On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
            </p>
            <a class="pull-right" href="#">more details</a>
          </div>
        </div>

        <div class="media">
          <a class="pull-left" href="#">
            <img src="/assets/project2.jpg" class="projectImg" title="project one">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Projects Two</a></h4>
            <p>
              On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
            </p>
            <a class="pull-right" href="#">more details</a>
          </div>
        </div>
        <div class="media">
          <a class="pull-left" href="#">
            <img src="/assets/project1.jpg" class="projectImg" title="project one">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="#">Projects One</a></h4>
            <p>
              On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire
            </p>
            <a class="pull-right" href="#">more details</a>
          </div>
        </div>	
      </div>
    </div>
  </div>
</div>-->

