<div class="highlightSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>OVERVIEW</h2>
        <p><b>NOTE-</b> Visa application time at the Royal Thai Consulate-General is between 09.00 – 12.00 hrs. Mon-Fri, except office’s holidays</p>
        <p><em><b> REQUIREMENT :</b> This type of visa will be issued to applicants who wish to enter the Kingdom for the following purposes : </em> <br><br>
          &gt;&gt; To travel in transit through the Kingdom in order to proceed to the country of destination or to re-enter his/her own country (category "TS")<br><br>
          &gt;&gt; To participate in sports activities (sportsmen, sportswomen, etc.)(category "S") <br><br>
          &gt;&gt; The person in charge or crew of a conveyance coming to a port, station or area in the Kingdom (category "C")<br><br>
        </p>

        <p><em> <b>DOCUMENTS REQUIRED : </b></em> <br><br>
          &gt;&gt; Passport or travel document with validity not less than 6 months<br><br>
          &gt;&gt; Visa application form completely filled out <br><br>
          &gt;&gt; Two recent photograph of the applicant ( 2 1/2 inches)<br><br>
          &gt;&gt; Plane ticket paid in full<br><br>
          &gt;&gt; Evidence of adequate finance (20,000 Baht per person and 40,000 Baht (per family)<br><br>          
        </p>

        <p><em> <b>VISA FEE 2,000 RS. per entry </b></em> <br><br></p>

        <p><em> <b>VALIDITY OF A VISA : </b></em> The validity of a visa is three months.<br><br></p>

        <p><em> <b>VALIDITY OF A STAY : </b></em> Travellers coming to Thailand with this type of visa will be permitted to stay in
          the Kingdom for a period not exceeding 60 days..<br><br></p>

        <p><em> <b>EXTENSION OF STAY : </b></em> Those who wish to stay longer can submit the application form at the Office of
          Immigration Bureau located on Soi Suan Plu, off South Sathorn Road, Bangkok 10120 , Tel (662)
          287-3101-10 (or at http://www.police.go.th/thaiimb/frconten.htm ). The extension of stay as well as
          the change of certain types of visa is at the discretion of the Immigration officer.<br><br></p>  
      </div>

    </div>
  </div>
</div>