<div class="highlightSection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>OVERVIEW</h2>
        <p><em> This type of visa will be issued to applicants who wish to enter the Kingdom for the following purposes : </em> <br><br>
          &gt;&gt; to travel in transit through the Kingdom in order to proceed to the country of destination or to re-enter his/her own country (category "TS")<br><br>
          &gt;&gt; to participate in sports activities (sportsmen, sports women, etc.)(category "S") <br><br>
          &gt;&gt; the person in charge or crew of a conveyance coming to a port, station or area in the Kingdom (category "C") <br><br>
        </p>
      </div>

    </div>
  </div>
</div>