<ul class="nav nav-sidebar">
  <li class="<%= params[:action]== 'index' ? "active" : "" %>"><%= link_to "Dashboard", passports_path %></li>  
  <li class="<%= params[:action]== 'new' ? "active" : "" %>"><%= link_to "Add Passport For Visa", new_passport_path %></li>
</ul>