<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">
    <title>UA- TRAVEL</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.13&sensor=false"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="top">
      <div class="container">
        <div class="row-fluid">
          <ul class="phone-mail">
            <li>Apply for VISA to Thailand</li>
            <li><img src="/assets/thi-flag.png" alt=""></li>
            <li>In Kolkata(India)</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- topHeaderSection -->	
    <div class="topHeaderSection">
      <div class="header">
        <div class="container">
          <div class="navbar-header navbar_header_width">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="second_logo"><img src="/assets/thai-log.png" alt="UA-TRAVLE-LOGO" style="" width="65" height="55"/></div>
            <a class="navbar-brand" href="/" style="text-align:center;"><img src="/assets/UA-logo.png" alt="UA-TRAVLE-LOGO" style=""/></a>  

          </div>







          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right" style="padding-bottom:20px;">
              <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Visa Type <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/tourist-visa">Tourist Visa</a></li>
                  <li><a href="/transit-visa">Transit Visa</a></li>
                </ul>
              </li>
              <li><a href="/online-form">Online Visa Application Form</a></li>
              <li><a href="/track-visa">Track</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- bannerSection -->
    <div class="bannerSection">
      <div class="slider-inner">
        <div id="da-slider" class="da-slider">
          <div class="da-slide">   
            <!--<h2><i>Clean</i> <br> <i>Responsive </i> <br> <i>HTML5 & CSS3</i></h2>
            <p><i>Lorem Ipsum</i> <br> <i>has been the industry's standard </i> <br> <i>dummy text ever since</i></p>-->
            <div class="da-img"><img src="assets/amezing-thailand.png" alt="" /></div>
          </div>

          <div class="da-slide">
            <!--  <h2><i>Clean</i> <br> <i>Responsive </i> <br> <i>HTML5 & CSS3</i></h2>
              <p><i>Lorem Ipsum</i> <br> <i>has been the industry's standard </i> <br> <i>dummy text ever since</i></p>-->
            <div class="da-img">
              <img src="/assets/phuket-beaches.jpg" alt="" style="width:400px; height:320px;"/>
            </div>
          </div>



          <div class="da-slide">
            <!--   <h2><i>Lorem Ipsum</i> <br> <i>dummy text</i> <br> <i>typesetting industry</i></h2>
               <p><i>Lorem Ipsum</i> <br> <i>has been the industry's standard </i> <br> <i>dummy text ever since</i></p>-->
            <div class="da-img"><img src="/assets/thiland.jpg" alt=""></div>
          </div>
          <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>		
          </nav>
        </div>
      </div>  
    </div>
    <%= yield %>
    <div class="footerTopSection">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>About </h3>
            <p>
              Best service provicer for<br>
              <strong>web and application </strong> design and development.
            </p>

            <h3>Monthly news letter</h3>
            <p>If you intended to get monthly newsletters and offers from us?</p>
            <div>
<%#*<form class="form-inline" role="form">%>
              <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-brand">Subscribe</button>
              </div>
<%#*</form>%>
            </div>

          </div>
          <div class="col-md-3">
            <h3>Recent NEWS </h3>
            <p>
              Best service provicer for<br>
              <strong>web and application </strong> design and development.
            </p>
            <p>
              Best service provicer for<br>
              <strong>web and application </strong> design and development.
            </p>
            <p>
              Best service provicer for<br>
              <strong>web and application </strong> design and development.
            </p>
          </div>
          <div class="col-md-3">
            <h3>Useful Links</h3>
            <p>
              <span>This may be the very useful and quick link for proper information</span><br><br>
              <a href="#">Our Services</a><br>
              <a href="#">About us</a><br>
              <a href="#">Our Network</a><br>
              <a href="#">Our Products</a><br>
            </p>

          </div>
          <div class="col-md-3">
            <h3>Contact us</h3>
            <p>
              <strong>Thailand Visa Application Centre</strong><br>
              222, A.J.C.Bose Road<br>
              G-2, Circular Center<br>
              Kolkata - 700017<br>
              Tel - 22807418 / 19<br>
              email - thai.roh@gmail.com<br>
            </p>
            <h3>Stay Connected</h3>
            <p>
              We are available at all social networks
            </p>
            F , t, G, T, Ln, P, Y
          </div>
        </div>
      </div>
    </div>


    <div class="footerBottomSection">
      <div class="container">
        &copy; 2014, Allright reserved. <a href="#">Terms and Condition</a> | <a href="#">Privacy Policy</a> 			
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initParallaxSlider();
      });
    </script>
  </body>
</html>
